.page-one {
    width: 400px;
    height: 860px;
    background-color: white;
    margin-right: 50px;
    border-radius: 30px;
}
.img-singer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.img-singer img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img-singer__column {
    font-size: 30px;
    font-weight: bold;
}
.img-singer__column:first-child{
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 3px 20px 0px rgb(100, 134, 70);
}
.img-singer__column:last-child{
    margin-top: 20px;
    font-size: 15px;
    opacity: 0.5;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.buttons-column{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0px solid white;
    width: 150px;
    height: 60px;
    font-size: 18px;
}
.buttons-column:first-child{
    margin-right: 30px;
    background-color: black;
    color: white;
}
.buttons-column:last-child{
    background-color: white;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
}
.buttons-column:last-child i{
    padding-right: 10px;
}
.buttons i{
    animation: heartBeat 1s linear infinite;
}
@keyframes heartBeat {
    0% {
      color: white;
      transform: none;
    }
    50%{
      color: tomato;
      transform: scale(1.5);
    }
    100%{
      color: white;
      transform: none;
    }
  }

.buttons-column:last-child span {
    color: rgba(0, 0, 0, 0.5);
}


.song-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.song-list__column{
    display: flex;
    width: 350px;
    height: 80px;
    align-items: center;
}

.song-list__column:nth-child(2){
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.song-list__column img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 25px;
    margin: 0px 15px;
}
.song-list__box{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.song-list__box i {
padding-top:15px;
    font-size: 20px;
    opacity: 0.3;
}

.song-list__text{
    display: flex;
    flex-direction: column;
}
.song-list__text span:first-child{
    font-size: 15px;
    opacity: 0.6;
    font-weight: bold;
}
.song-list__text span:last-child {
    margin-top: 13px;
    font-size: 20px;
    font-weight: bold;
}


.song-play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 34);
    color: white;
    width: 370px;
    height: 85px;
    margin-left: 15px;
    border-radius: 40px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.song-play__singer{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    font-size: 18px;
}
.song-play__singer span:first-child{
    opacity: 0.5;
    margin-bottom: 10px;
    font-size: 13px;
}

.song-play__buttons {
    margin-right: 20px;
    font-size: 25px;
}

.song-play__buttons i:nth-child(2){
    margin: 0px 20px;
}