body {
  background-color: tomato;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.bigbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  height: 300px;
  width: 300px;
  border: 5px solid black;
}
.top {
  position: absolute;
  top: 30px;
  background-color: teal;
  height: 50px;
  width: 50px;
  border: 5px solid white;
}

.middle {
  background-color: teal;
  height: 40px;
  width: 200px;
  padding: 0px 20px;
  border: 5px dashed white;
}

.bottom {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  border: 5px solid white;
}
